.box{
    min-height: 480px;
}

.lead{
    height: 30px !important;
}

.btn-link{
    cursor: pointer;
}

.btn-link:hover{
    text-decoration: none;
}

.navbar-brand{
    position: absolute;
}

.modal-content{
    width: 800px !important;
    position: relative;
    right: 150px;
    top: 300px;
}

footer{
    height: 120px;
}

.favJokeLi{
    max-width: 70%;
}

.deleteBtn{
    display: inline-block;
    margin: 5px 10px 0px 1000px;
}

.div1{
    display: inline-block;
    margin: auto;
}